:host {
  display: block;
}

.container {
  .header {
    min-height: 70px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4a4a4a;

    .lesson {
      font-size: 1.5rem;
    }
  }

  .sentence {
    padding: 1rem;
  }

  .translations {
    .actions {
      display: flex;

      .available, button.translation {
        margin-right: 0.25rem;
      }
    }
  }
}
