<div class="container">
  <div class="header">
    <div class="back">
      <button [routerLink]="['/courses']">Back</button>
    </div>
    <div class="course">
      <p>{{ course?.name }}</p>
    </div>
    <div class="spacer"></div>
  </div>
  <div class="main">
    <app-add-lesson [language]="course?.language" (submitNewLesson)="submitNewLesson($event)"></app-add-lesson>
    <p class="title">My Lessons</p>
    <div class="lessons" *ngIf="lessons && lessons.length > 0 else noLesson">
      <p class="lesson" *ngFor="let lesson of lessons; trackBy:trackByFunc">
        <a [routerLink]="[ lesson.id ]">{{ lesson.name }}</a>
      </p>
    </div>
  </div>
</div>
<ng-template #noLesson>
  No lesson
</ng-template>
