:host {
  display: block;
}

.container {
  max-width: calc(100% - 1rem);

  .header {
    min-height: 70px;
    border-bottom: 1px solid #4a4a4a;

    .back, .spacer {
      flex: 1 1 10%;
    }

    .course {
      flex: 1 1 calc(100% - 1rem - 20%);
    }
  }

  .main {
    p {
      &.lesson:nth-child(even) {
        background: #ddd
      }

      &.lesson:nth-child(odd) {
        background: #dddf8d;
      }
    }
  }
}
