<div class="container font-sans" *ngIf="(course$ | async) as course">
  <div class="header p-2 flex justify-between items-center">
    <div class="back">
      <button [routerLink]="['/courses']" class="back">Back</button>
    </div>
    <div class="course text-2xl text-center">
      <p>{{ course?.name }}</p>
      <p>{{ course?.description }}</p>
    </div>
    <div class="spacer"></div>
  </div>
  <div class="main p-2">
    <app-add-lesson class="mb-4" [language]="course?.language" (submitNewLesson)="submitNewLesson(course, $event)"></app-add-lesson>
    <app-alert-error *ngIf="(errMsg$ | async) as msg">
      <span class="text-red-800">{{ msg }}</span>
    </app-alert-error>
    <app-alert-success *ngIf="(successMsg$ | async) as msg">
      <span class="text-green-800">{{ msg }}</span>
    </app-alert-success>
    <p class="title mb-4">My Lessons</p>
    <ng-container *ngIf="(lessons$ | async) as lessons">
      <div class="lessons" *ngIf="lessons && lessons.length > 0 else noLesson">
        <p class="lesson p-1" *ngFor="let lesson of lessons; trackBy:trackByFunc">
          <a class="text-lg" [routerLink]="[ lesson.id ]">{{ lesson.name }}</a>
        </p>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #noLesson>
  No lesson
</ng-template>
