<div class="course p-2 form-border">
  <p>
    <span class="field text-lg">Name: </span><span class="text-lg">{{ course?.name }}</span>
  </p>
  <p>
    <span class="field">Description: </span><span>{{ course?.description }}</span>
  </p>
  <p>
    <span class="field">Language: </span><span>{{ course?.language?.name }} ({{ course?.language?.nativeName }})</span>
  </p>
  <p class="actions">
    <button class="bg-green-400 hover:bg-green-500" (click)="viewLesson()">See Lessons</button>
  </p>
</div>
