<div class="add-course">
  <p class="title">New Course</p>
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit($event)">
    <label>
      <span>Name:</span>
      <input name="name" type="text" formControlName="name" required maxlength="50" size="50">
    </label>
    <label>
      <span>Description:</span>
      <input name="description" type="text" formControlName="description" required maxlength="150">
    </label>
    <label>
      <span>Language:</span>
      <select formControlName="languageId" style="min-width: 100px;">
        <option [value]="language.id" *ngFor="let language of languages">{{ language.name}} ({{ language.nativeName }})</option>
      </select>
    </label>
    <button [disabled]="!form.valid">Add</button>
  </form>
</div>
