/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}


button {
  padding: 8px 18px;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

input {
  padding: 0.5rem;
}

p.title {
  font-size: 1.2rem;
}
